* {
	font-family: 'Noto Sans', sans-serif;
	margin: 0px;
	padding: 0px;
 }
 .list{
 	list-style: none;
 }
 .wathDo, .places{
 	background-position: center;
 	background-size: cover;	
 	border: 2px solid #fff !important;
 }
.wathDo { background-image: url(../IMG/wathDo.JPG); }
.places { background-image: url(../IMG/places.JPG); }
nav{
	width: 230px;
	height: 96vh;
	position: absolute;
}
ul, nav{
	transition: all .3s; 
}
ul.menunav{
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: 96vh;
	overflow: hidden;
	background: #293f54;
	transition: all .3s; 
}
.hideNav{
	width: 0px !important;
	overflow: hidden;
}
.h0{
	width: 0px !important;
}
div.user{
	display: block;
	position: relative;
	height: 72px;
	background: #172d44;
	padding: 5px;
}
div.imgProfile{
	width: 60px;
	height: 60px;
	display: block;
	background: url(../IMG/user.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	border: 2px solid #FFF;
	box-sizing: border-box;
	float: left;
}
div.infoUser{
	display: block;
	width: 150px;
	float: right;
	color: #fff;
	text-transform: capitalize;
	
}
ul.menunav li a{
	color: #f6f6f6;
	text-transform: capitalize;
	padding: 8px;
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.1);
	transition: all .2s;
}
ul.menunav li a:hover{
	text-decoration: none;
	color: #ccc;
	background: #35475b;
}
.menuIcon{
	position: absolute; 
	top: 0px;
	right: -32px;
	padding: 10px;
	background: #172d44;
	color: #F9F9F9;
	cursor: pointer;
	border-radius: 0px 3px 3px 0px;
}
.contentC{
	height: 96vh;
	display: block;
	float: right;
	width: calc( 100% - 230px);
	transition: all .3s;	
	background: #f9f9f9;	 

}
.w100{
	width: 100% !important;
}
.barMenu{
	height: 72px;
	display: block;
	border-bottom: 2px solid #ccc;
}
.title{
	padding: 0px 20px;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;}
.containerTable{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0px 20px;
	background: #fff;
}
.containerTable table{
	width: 100%;
}
.containerTable table thead tr th{
	text-align: center;
	padding: 3px;
	border-bottom: 2px solid #ccc;
}
.containerTable table tbody tr th{
	text-align: center;
	font-weight: normal;
	padding: 6px 3px;
	border-bottom: 1px solid #ccc;
}
.btn{
	border: none;
    border-radius: .4em;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Lato,sans-serif;
    font-size: .95em;
    font-weight: 700;
    padding: .6em .8em .8em;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    transition: .2s;
    vertical-align: middle;
    box-shadow: inset 0 -0.2em rgba(0,0,0,.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0 !important;
}
.btn-green{
	  background: #00C853;
	     color: #fff !important;
}
.noShadow{
	box-shadow: none !important;
}
.bgModal{
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}